/* effecting entire document */

*{
  font-family: fantasy;
  box-sizing: border-box;
}
/* html elements  */
html {
 height: 100vh;
}

body {
  height: 100%;
}


section {
  border: 1.5px solid white;
  height:100vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;

}

button {
font-size: xx-large;
}


/* user- scoreboard area */
.left-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  height:100vh;
  background-color: #3c6e71;
}
.user-icon {
  font-size: 70px;
}
.user-scoreboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.u-fighter-display{
  font-size: xx-large;
  color: darkred;
}
.user-trackpad {
  width: 49%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height; 48%;
  font-size: 150%;
  color: white;
}
.wrapper-comp-wins,
.wrapper-user-wins {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 43%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

/* Middle-Gameing Area */
.middle-section-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 56%;
  height: 100%;
  background-color: #d9d9d9;
  color: #353535;
}
.wrapper-title-subtitle{
  height: 22%;
}
.wrapper-game-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353535;

}
.page-title {
  font-size: 153%;
}
.page-title-subtitle{
  font-size: 107%;
}
.classic-game-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grabbing;
  height: 37%;
}
.classic-game-area:hover {
  background-color: white;
}
.injustice-game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grabbing;
  height: 30%;
}
.injustice-game-area:hover {
  background-color: #caf0f8;
}
/* Computer-scoreboard Area */
.right-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #3c6e71
}
.c-fighter-display {
  font-size: xx-large;
  color: darkred;
}
.computer-icon {
  font-size: 70px;
}
.computer-trackpad {
  display: flex;
  flex-direction: column;
  height; 48%;
  font-size: 150%;
  color: white;
}
.computer-scoreboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#userWins,
#computerWins {
  border-sizing: none;
  margin-left: 24%;
}

/* hidden form area */

.classicF {
  display:flex;
  align-items: center;
}
.c-your-f {
  margin-left: 2%;
  height: 97%;
  margin-top: 0%;
  color: darkred;
  width: 100%;
}
.wrapper-hiddenForm{
  display: flex;
  flex-direction: column;
  height:57%;
}
.game-shoot,
.change-button {
  width: 18%;
  height: 15%;
  font-size: medium;
}

.hiddenForm {
  display: flex;
  height: 35%;
  border:2px solid black;
}
.wrapper-btns{
  width:100%;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
