/* effecting entire document */

*{
  font-family: fantasy;
  box-sizing: border-box;
}
/* html elements  */
html {
 height: 100vh;
}

body {
  height: 100%;
}


section {
  border: 1.5px solid white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;

}


/* user- scoreboard area */
.left-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  height:60%
  border: 2px solid red;
  background-color: #3c6e71;
}
.user-icon {
  font-size: 70px;
}
.user-scoreboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-trackpad {
  display: flex;
  flex-direction: column;
  height; 48%;
  font-size: 150%
}

/* Middle-Gameing Area */
.middle-section-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  height: 100%;
  background-color: #d9d9d9;
  color: #353535;
}
.wrapper-game-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353535;

}
.page-title {
  font-size: 153%;
}
.page-title-subtitle{
  font-size: 107%;
}
.classic-game-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grabbing;
}
.classic-game-area:hover {
  background-color: white;
}
.injustice-game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grabbing;
}
.injustice-game-area:hover {
  background-color: #caf0f8;
}
/* Computer-scoreboard Area */
.right-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #3c6e71
}
.computer-icon {
  font-size: 70px;
}
.computer-trackpad {
  display: flex;
  flex-direction: column;
  height; 48%;
  font-size: 150%
}
.computer-scoreboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* hidden form area */

.classicF {
  display:flex;
  align-items: center;
}



.hidden {
  display: none;
}
